.degree-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto 50px auto;
}

.card-title {
  font-family: "Google Sans Medium";
  font-size: 23px;
  margin-left: 0;
  margin-top: 15px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: center;
}

.card-subtitle {
  font-family: "Google Sans Medium";
  font-size: 18px;
  margin-top: 7px;
  margin-bottom: 5px;
  margin-left: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: center;
}

.body-header {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px 7px 0px 0px;
  padding: 10px;
  width: 100%;
}

.body-header-title {
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
}

.body-header-duration {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.duration {
  font-family: "Google Sans Regular";
  font-size: 16px;
}

.body-content {
  max-width: 100%;
  border-radius: 0px 0px 7px 7px;
  padding: 5px;
  width: 100%;
  text-align: left;
  padding-left: 20px;
}

.content-list {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Google Sans Regular";
  word-wrap: break-word;
  text-align: left;
}

.website-btn {
  background-color: #3ecf8e;
  color: white;
  border: none;
  padding: 15px 15px;
  margin-top: 25px;
  margin-right: 23px;
  margin-bottom: 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  font-family: "Google Sans Regular";
  float: right;
  transition: all 0.2s ease-in-out;
}

.website-btn:hover {
  background-color: #2daa6f;
  box-shadow: 0 5px 10px rgba(62, 207, 142, 0.4);
}

@media (max-width: 768px) {
  .degree-card {
    flex-direction: column;
  }

  .body-header {
    flex-direction: column;
  }

  .body-header-title {
    width: 100%;
  }

  .body-header-duration {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: right;
  }

  .duration {
    padding: 0px;
    margin: 0px;
    float: right;
  }

  .card-title {
    font-size: 20px;
  }

  .card-subtitle {
    font-size: 16px;
  }
}
